<div class="btn-group" role="group">
    <button id="weekBtnDBA" type="button" class="btn btn-default viewDBA" ng-click="changeView('weekBtnDBA');">Week</button>
    <button id="monthBtnDBA" type="button" class="btn btn-default viewDBA" ng-click="changeView('monthBtnDBA');">Month</button>
    <button id="monthsBtnDBA" type="button" class="btn btn-default viewDBA" ng-click="changeView('monthsBtnDBA');">Multi-months</button>
</div>
<div class="btn-group" role="group">
    <button type="button" class="btn btn-default" ng-click="back()"> < </button>
    <button type="button" class="btn btn-default" ng-click="forward()"> > </button>
</div>
<access-pie id = "access-pie1" class="graph"></access-pie>